html, body {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#fpsView {
    font-size: 16px;
    font-family: "Helvetica", "Arial", sans-serif;
    font-weight: bolder;
    position: absolute;
    display: inline-block;
    margin: 0;
    padding: 0;
}

#gameView {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
}
